* {
    padding: 0;
    margin: 0;
  }
  
.video_item {
    display: flex;
    column-gap: 10px;
}

.video_item .thumb {
    width: 144px;
    height: 81px;
    overflow: hidden;
}
.video_item .thumb img {
    width: 100%;
    height: auto;
}

.video_item .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video_item .like {
    display: flex;
    justify-content: center;
    align-items: center;
}