.table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}
.table tr td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
}
.table tr:first-child td {
  background-color: #fafafa;
  font-weight: bold;
}
