.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
}

.orange {
  background-color: #ff9800; /* Orange */
}

.red {
  background-color: #f44336; /* Red */
}
