.product_wrapper{
    margin: 20px 0;
    display: flex;
}

.product_item {
    position: relative;
    padding: 10px;
}

.product_item .discount{
    position: absolute;
    padding:2px 10px;
    top: 10px;
    right: 10px;
    background-color: #f80;
    color: #fff;
    border-radius: 5px;
}


.product_item img{
    width: 100%;
    height: auto;
}

.product_item h3{
    color: #111;
    font-size: 16px;
    margin: 10px 0;
    min-height: 54px;
}

.product_item .price strong{
    color: #d0021c;
    margin-right: 10px;
}