@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ưu tiên css tăng dần base->components->utilities */

/* lớp cở bản */
@layer base {
  .btn {
     @apply py-2 px-3 text-white border-0 rounded
  }
 
}

/* Lớp biến thể */
@layer components {
  
  .btn-orange {
    @apply  bg-orange-500 hover:bg-orange-600
  }

  .btn-sky {
    @apply  bg-sky-500 hover:bg-sky-600
  }
}

/* ưu tiên cao  */
@layer utilities {
  
  .btn-small {
     @apply py-1 px-2
  }

  .btn-xl {
    @apply py-3 px-5
  }
}


/* ưu tiên cao nhất */
.button{
  padding: 10px 12px;
  appearance: none;
  background-color: rgb(65, 0, 131);
  color: #fff;
  text-align: center;
  border: none;
  margin-right: 10px;
}
