@import "tailwindcss";

@layer base {
  button {
    @apply bg-indigo-600 hover:bg-indigo-700 cursor-pointer text-white py-2 px-4 border border-indigo-600 rounded;
  }

  input,
  textarea,
  select {
    @apply border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-1 focus:ring-indigo-200 focus:border-indigo-200;
  }
}