.attr_container {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.attr_item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  color: #444;
}
.actived {
  background-color: #f3f3f3;
  border: 1px solid #555555;
  color: #111;
}

.attr_label {
}
