.product_wrapper {
    display: flex;
}

.product_Item {
    position: relative;
}

.product_Item .discount{
    padding: 3px 5px;
    background-color: #f80;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    right: 10px;
}