.video_item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin: 10px 0;
}
.thumbnail {
  width: 120px;
  height: 60px;
  overflow: hidden;
  border-radius: 10px;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.content_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
}
.content h3 {
  font-size: 14px;
  margin: 0 0 5px 0;
}
.content p {
  font-size: 12px;
  color: #555;
  margin: 0;
}
.like {
  width: 40px;
}
