* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  padding: 8px 60px;
  background-color: #f80;
  color: #fff;
  border: none;
  appearance: none;
  outline: none;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(226, 121, 1);
}
.pagination {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 20px 0;
}
.pagination a {
  display: block;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px 10px;
}
