.person_wrapper {
    max-width: 400px;
    margin: 30px auto;
}
.person_item {
    display: flex;
    column-gap: 15px;
    margin: 20px 0;
}

.person_item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.person_item .person_info{
    flex: 1;
}