/*
All style ở APp.css, index.css ==> GLobal
*/

.button {
  appearance: none;
  background-color: #f80;
  color: #fff;
  padding: 12px 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
}
