.button_social {
    padding: 12px 10px;
    border: 2px solid #111;
    color: #111;
    text-align: center;
    border-radius: 50px;
    margin: 20px 0;
  }
  .button_social svg {
    vertical-align: middle;
  }
  