.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4f46e5;
  border-bottom: 2px solid #e0e7ff; /* Indigo nhạt làm đường viền */
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff; /* Màu Indigo chủ đạo */
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: yellow; /* Đổi sang màu Indigo khi hover */
}
