
.attr_block {
    align-items: center;
    margin: 10px 0;
}
.attr_block span{
    margin-left: 5px;
}
.attr_block span.attr_item {
    background-color: #fff;
    border: 2px solid #eee;
    padding: 2px 8px;
}
.attr_block span.attr_item.current{
    border: 2px solid #212121;
    color: #212121;
    background-color: #f0f0f0;
}