.btn {
  border: none;
  outline: none;
  appearance: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn_oranges {
  background-color: #ff6700;
  color: #fff;
}

.btn_dark {
  background-color: #3d2ca7;
  color: #fff;
}
.btn_detail {
  background-color: #fff;
  border: 1px solid #222;
  color: #222;
}
.btn_detail:hover {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}
