.button{
    padding: 10px 120px;
    background-color: #f80;
    color: #fff;
    text-align: center;
    border: none;
    display: inline-flex;
    margin-right: 10px;
}

.button.button-dark {
    background-color: #212121;
}

.button.button-outline {
    background-color: #fff;
    border: 1px solid #111;
    color: #111;
}