* {
    padding: 0;
    margin: 0;
  }
  
.video-item {
    display: flex;
    column-gap: 10px;
}

.video-item .thumb {
    width: 144px;
    height: 81px;
    overflow: hidden;
}
.video-item .thumb img {
    width: 100%;
    height: auto;
}

.video-item .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video-item .like {
    display: flex;
    justify-content: center;
    align-items: center;
}