.main_wrapper {
    display: flex;
    justify-content: space-between
}

.main_wrapper>section {
    width: 800px;
}
.main_wrapper>aside {
    width: calc(100% - 830px)
}

.product_details {
    display: flex;
}