.iphone_size {
  width: 430px;
  height: 932px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  padding: 20px;
}
